/* MOBILE ONLY */


/* BASIC */


/* Buttons
.mcf-links-with-action a {
  float: none !important;
  margin-right: 0px !important;
}

a.mcf-button {
  width: 100% !important;
  padding: 10px 0px !important;
  height: inherit !important;
  font-size: 16px !important;
}
*/

/* Video player */



/* Tables */



/* Service & Contact */



/* weglaten sidebar images */



/* SPECIFIC PAGES */

  /* AFSPRAAKFORMULIER */


    /* margin formulier */
    body form.formulieren {
      margin: 0px !important;
      padding: 0px !important;
    }

  .quinity_form_table .grouptable th {

  }

    /* full width button */
    td.quinity_forms_column_last > a {
      width: 100% !important;
    }

    .quinity_form_table table.buttonbar td a {
      float: none !important;
      padding: 8px 0px !important;
      margin: 0px !important;
    }

    .quinity_form_table table.buttonbar a[name="FormScreenContinue"] {
      float: none !important;
    }

    .quinity_form_table .buttonbar a[name=FormScreenContinue] {
      border: none !important;
    }

    #rs_read > div.mcf-accordeon {
      margin: 20px 0 30px 0px !important;
    }

    .quinity_form_table .grouptable td.input {
      padding: 0 20px 5px !important;
    }

    /* transparante background-color formulier */
    .quinity_form_table tr, .mcf-maincontent #form table, .grouptable td, .quinity_form_table td, .quinity_form_table .grouptable {
      background-color: #f9f9f9 !important;
      background: #f9f9f9 !important;
    }

    .grouptable.vragen-blok, .quinity_form_table .grouptable {
      border-bottom: none !important;
    }

    /* button switch JA/NEE */
