
/* BASIC */


/* Buttons
.mcf-links-with-action a {
  float: none !important;
  margin-right: 0px !important;
}

a.mcf-button {
  width: 100% !important;
  padding: 10px 0px !important;
  height: inherit !important;
  font-size: 16px !important;
}
*/

/* Video player */



/* Tables */



/* Service & Contact */



/* weglaten sidebar images */



/* SPECIFIC PAGES */

  /* AFSPRAAKFORMULIER */


    /* margin formulier */
    body form.formulieren {
      margin: 0px !important;
    }

    /* full width button */
    td.quinity_forms_column_last > a {
      width: 100% !important;
    }

    .quinity_form_table table.buttonbar td a {
      float: none !important;
      padding: 8px 0px !important;
      margin: 0px !important;
    }

    .quinity_form_table table.buttonbar a[name="FormScreenContinue"] {
      float: none !important;
    }

    .quinity_form_table .buttonbar a[name=FormScreenContinue] {
      border: none !important;
    }

    #rs_read > div.mcf-accordeon {
      margin: 20px 0 30px 0px !important;
    }

    /* transparante background-color formulier */
    .quinity_form_table tr {
      background-color: #f9f9f9 !important;
    }

    .grouptable.vragen-blok {
      border-bottom: none !important;
    }

    /* button switch JA/NEE */

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////

Raw:
https://raw.githubusercontent.com/Dylanmo/code/master/abnamro.css

Development:
https://cdn.rawgit.com/Dylanmo/code/509e45f440279285d4a8cea4023fdd1d7e62fe51/abnamro.css

Commit Raw:
https://raw.githubusercontent.com/Dylanmo/code/68e7d5940365a6fc780efc812b0f50f57ecd6e44/abnamro.css

Commit CDN:
https://cdn.rawgit.com/Dylanmo/code/68e7d5940365a6fc780efc812b0f50f57ecd6e44/abnamro.css

////////////////////////////////////////////////////////////////////////////////////////////////////////////
//eval?

//Versie: 8
var hashGithub = "907066cd2aa147c300cf327ff2b0ffaa776a5eeb";

var url1 = "\
https://cdn.rawgit.com/Dylanmo/code/907066cd2aa147c300cf327ff2b0ffaa776a5eeb/abnamro.css\
";

$('head').append('@media only screen and (max-width: 425px) {\
<link rel="stylesheet" href="' + url1 + '">\
</style>');

*/
